.homepage {
    background-image: url('photos/colors/waterfall-rainbow.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 8vh;
}

.homepage h1 {
    font-size: 15vh;
    color: rgb(20, 15, 118);
    text-shadow: 3px 2px rgb(64, 60, 146);
    align-content: center;
    position: relative;
    top: 60px;
}

.homepage a {
    text-decoration: none;
    font-size: 5vh;
    position: relative;
    top: 25px;
}

.highlight {
    border-radius: 25%;
    background-image: linear-gradient(rgb(255, 152, 152, 0.5), rgb(255, 200, 152, 0.5), rgb(255, 241, 152, 0.5),
    rgb(207, 255, 196, 0.5), rgb(196, 247, 255, 0.5), rgb(181, 156, 244, 0.5));
}

.color-world a , .fruit-body a{
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 50px;
}

.fruit-body {
    text-align: center;
    align-content: center;
    background-color: rgb(229, 221, 215);

}
.fruit-body h1{
    font-size: 10vh;
    color: rgb(118, 24, 15);
    text-shadow: 2px 2px rgb(146, 86, 60);
}

/* creating a box for button-activated image to cover */
.color-content {
    width: 100%;
    height: 560px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.color-world {
    text-align: center;
    align-content: center;
    background-color: rgb(245, 230, 220);
    background-size: 100% 100vh;
}

.fruit-body img {
    max-width: 200px;
    max-height: 200px;
}

table, th, td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.fruit-body p {
    font-size: 20px;
}

/* red button */
button.red-btn:active, button.red-btn:focus {
    background-color: rgb(255, 152, 152);;
}
.color-world:has(button.red-btn:focus) {
    background-color: rgb(255, 152, 152);
}
.color-world:has(button.red-btn:focus) .color-content {
    background-image: url('photos/colors/red-flowers.jpg');
}

/* orange button */
button.orange-btn:active, button.orange-btn:focus {
    background-color: rgb(255, 200, 152);;
}
.color-world:has(button.orange-btn:focus) {
    background-color: rgb(255, 200, 152);
}
.color-world:has(button.orange-btn:focus) .color-content {
    background-image: url('photos/colors/orange-trees.jpg');
}

/* yellow button */
button.yellow-btn:active, button.yellow-btn:focus {
    background-color: rgb(255, 241, 152);;
}
.color-world:has(button.yellow-btn:focus) {
    background-color: rgb(255, 241, 152);
}
.color-world:has(button.yellow-btn:focus) .color-content {
    background-image: url('photos/colors/yellow-bird.jpg');
}

/* green button */
button.green-btn:active, button.green-btn:focus {
    background-color: rgb(207, 255, 196);;
}
.color-world:has(button.green-btn:focus) {
    background-color: rgb(207, 255, 196);
}
.color-world:has(button.green-btn:focus) .color-content {
    background-image: url('photos/colors/green-frog.jpg');
}

/* blue button */
button.blue-btn:active, button.blue-btn:focus {
    background-color: rgb(196, 247, 255);;
}
.color-world:has(button.blue-btn:focus) {
    background-color: rgb(196, 247, 255);
}
.color-world:has(button.blue-btn:focus) .color-content {
    background-image: url('photos/colors/blue-ocean.jpg');
}

/* purple button */
button.purple-btn:active, button.purple-btn:focus {
    background-color: rgb(181, 156, 244);;
}
.color-world:has(button.purple-btn:focus) {
    background-color: rgb(181, 156, 244);
}
.color-world:has(button.purple-btn:focus) .color-content {
    background-image: url('photos/colors/purple-geode.jpg');
}

/* rainbow button */
button.rainbow-btn:active, button.rainbow-btn:focus {
    background-color: rgb(255, 192, 152);
}
.color-world:has(button.rainbow-btn:focus) {
    background-image: linear-gradient(rgb(255, 152, 152), rgb(255, 200, 152), rgb(255, 241, 152),
    rgb(207, 255, 196), rgb(196, 247, 255), rgb(181, 156, 244));
}
.color-world:has(button.rainbow-btn:focus) .color-content {
    background-image: url('photos/colors/rainbow-bubble.jpg');
}